<h1>Listing Bids</h1>
  <% @events.each do |event| %>
    <% if event.active == true %>
      <%= event.title %>
      <%= event.bids.each do |bid| %>
        <%= bid.user_choice %>
        <% end %>
    <% else %>
      <%= puts "" %>
    <% end %>
  <% end %>

<p><%= "hi #{@events.count}" %></p>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>


<br>