<h3>Bids</h3>

<% @bids.each do |bid| %>
	<div>
		<%= bid.user_id %>
		<%= bid.user_choice %>
	<% end %>
<%= render 'bids/form' %>

<p>
  <strong>User:</strong>
  <%= @bid.user_id %>
</p>

<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
