.events
  %ul
    - @events.each do |event|
      %li.event{class: event.id}
        = link_to event.id, event_path(event)
        = event.title
        = event.time

        .teams
          - event.teams.each do |team|
            - selected = selected?(event, @bids, team)
            .team{class: ('selected-bid' if selected)}
              %a{href: '#', class: 'bid_create', id: team.id, onClick: "createBid(this, #{event.id}, #{team.id})"}
                = team.title

